html,body{
  margin:0;
  overflow:hidden;
  color: white;
  font-family: Raleway;
  font-size: 3vh;
}


.topLogo {
	display:block;
	margin-left:auto;
	margin-right:auto;
	opacity:0.25;
	border-radius:50%;
	height:100%;
}
